.passwordWrapper {
  position: relative;
}

.passwordInput {
  padding-right: 64px;
}

.passwordInput__visibility {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 50%;
  background: none;
  transform: translateY(-50%);
}

.passwordInput__visibility {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 50%;
  background: none;
  transform: translateY(-50%);
}

.passwordInput__visibility_error * {
  fill: var(--red-100)
}
